@font-face {
    font-family: 'NotoSerif-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('NotoSerif-Regular'),
        url('../fonts/NotoSerif-Regular.woff2') format('woff2'),
        url('../fonts/NotoSerif-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif-Bold';
    font-weight: 400;
    font-style: normal;
    src: local('NotoSerif-Bold'),
        url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
        url('../fonts/NotoSerif-Bold.woff') format('woff');
    font-display: swap;
}