%quicksand-400{
    font-family: 'NotoSerif-Regular', sans-serif;
    font-weight: 400;
}

%quicksand-700{
    font-family: 'NotoSerif-Bold', sans-serif;
    font-weight: 700;
}

%checkbox-hidden,
%radio-hidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

$default: #333333;